{% extends "main/inspector_base.html" %}

{% block content %}

    <table class="table table-bordered table-hover link-table">
        <thead>
        <tr>
            <th class="first" scope="col">#</th>
            <th scope="col">Ф.И.О.</th>
            <th scope="col">Тип и модель</th>
            <th scope="col">IMO</th>
            <th scope="col">Номера двигателей</th>
        </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <th class="first" scope="row"><a href="{% url 'boat:register_request' pk=request.pk %}">{{ forloop.counter }}</a></th>
                <td>
                    <a href="{% url 'boat:register_request' pk=request.pk %}">{{ request.owner.first_name }} {{ request.owner.last_name }}</a>
                </td>
                <td><a href="{% url 'boat:register_request' pk=request.pk %}">{{ request.model_type }}</a></td>
                <td><a href="{% url 'boat:register_request' pk=request.pk %}">{{ request.imo }}</a></td>
                <td><a href="{% url 'boat:register_request' pk=request.pk %}">{{ request.engine_number }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
