
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>ICMC</title>
    <script src='https://www.google.com/recaptcha/api.js?render=6LcAS9AZAAAAAJZvdcSFTmHkmxXG3f-mcNpau9qB'></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

</head>
<body>

{% block body %}
{% endblock %}

<script src="{% static 'main/js/base.js' %}"></script>

</body>

</html>