{% extends 'main/inspector_base.html' %}
{% load static %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-success" role="alert" id="backendErrorMessage">
            {{ message }}
        </div>
    {% endfor %}

    <div class="tableBlock">
        <h1 class="title">Оплата пошлины за регистрацию</h1>

        <table class="table table-bordered table-hover no-select">
            <thead>
            <tr>
                <th class="first" scope="col">#</th>
                <th scope="col">Ф.И.О.</th>
                <th scope="col">Тип и модель</th>
                <th scope="col">IMO</th>
                <th scope="col">Номера двигателей</th>
            </tr>
            </thead>
            <tbody>
            {% for request in payments %}
                <tr data-id="{{ request.pk }}" data-check="{{ request.check_scan.url }}" class="paymentRequest">
                    <th class="first" scope="row">{{ forloop.counter }}</th>
                    <td>{{ request.owner.first_name }} {{ request.owner.last_name }}</td>
                    <td>{{ request.boat.model_type }}</td>
                    <td>{{ request.boat.imo }}</td>
                    <td>{{ request.boat.engine_number }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="tableBlock">
        <h1 class="title">Оплата технического осмотра</h1>

        <table class="table table-bordered table-hover no-select">
            <thead>
            <tr>
                <th class="first" scope="col">#</th>
                <th scope="col">Ф.И.О.</th>
                <th scope="col">Тип и модель</th>
                <th scope="col">IMO</th>
                <th scope="col">Номера двигателей</th>
                <th scope="col">Тип осмотра</th>
            </tr>
            </thead>
            <tbody>
            {% for tech_check_payment in  tech_check_payments %}
                <tr data-id="{{ tech_check_payment.pk }}" data-check="{{ tech_check_payment.check_scan.url }}" class="paymentRequest techCheckPayment">
                    <th class="first" scope="row">{{ forloop.counter }}</th>
                    <td>{{ tech_check_payment.owner.first_name }} {{ tech_check_payment.owner.last_name }}</td>
                    <td>{{ tech_check_payment.boat.model_type }}</td>
                    <td>{{ tech_check_payment.boat.imo }}</td>
                    <td>{{ tech_check_payment.boat.engine_number }}</td>
                    <td>{{ tech_check_payment.get_check_type_display }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="tableBlock">
        <h1 class="title">Оплата штрафов</h1>

        <table class="table table-bordered table-hover no-select">
            <thead>
            <tr>
                <th class="first" scope="col">#</th>
                <th scope="col">Ф.И.О.</th>
                <th scope="col">Тип и модель</th>
                <th scope="col">IMO</th>
                <th scope="col">Номера двигателей</th>
                <th scope="col">Сумма</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in  fine_payments %}
                <tr data-id="{{ payment.pk }}" data-check="{{ payment.check_scan.url }}" class="paymentRequest finePayment">
                    <th class="first" scope="row">{{ forloop.counter }}</th>
                    <td>{{ payment.fine.owner.first_name }} {{ payment.fine.owner.last_name }}</td>
                    <td>{{ payment.fine.boat.model_type }}</td>
                    <td>{{ payment.fine.boat.imo }}</td>
                    <td>{{ payment.fine.boat.engine_number }}</td>
                    <td>{{ payment.fine.amount }} сум</td>
                </tr>
            {% endfor %}
        </table>
    </div>




    <div class="popup-window popupWithCheck">
        <div class="popup-window-background"></div>
        <div class="popup">
            <div class="closeButtonContainer">
                <button class="closeButton">
                    <img src="{% static 'main/img/cancel.svg' %}" alt="">
                </button>
            </div>
            <h1 class="popupTitle">Подтверждение оплаты</h1>

            <div class="popupBlocks">
                <a href="#" class="popupBlock checkScanLink"><img src="" class="checkScan"></a>
            </div>

            <div class="buttonsContainer">
                <a href="#" id="rejectLink" class="btn btn-warn">Отклонить</a>
                <a href="javascript:" id="acceptPayment" class="btn">Принять</a>
            </div>
        </div>
    </div>

    <div class="popup-window addressPopup">
        <div class="popup-window-background"></div>
        <div class="popup">
            <div class="closeButtonContainer">
                <button class="closeButton">
                    <img src="{% static 'main/img/cancel.svg' %}" alt="">
                </button>
            </div>
            <form action="" name="acceptPaymentForm" method="post">
                {% csrf_token %}

                <h1 class="popupTitle">Напишите адрес и дату для проведения осмотра судна</h1>

                <div class="popupBlocks">
                    <div class="popupBlock">
                        <div class="form-element">
                            <input type="text" name="address" required>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn">Отправить пользователю</button>
            </form>
        </div>
    </div>

    <script src="{% static 'main/js/payments.js' %}"></script>

{% endblock %}
