{% extends 'main/inspector_base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="searchBar">
        <form action="" method="get">
            <label for="full_name">ФИО<br><input type="search" name="full_name" value="{{ full_name|default_if_none:'' }}"></label>
            <label for="imo">Идентификационный IMO<br><input type="search" name="imo" value="{{ imo|default_if_none:'' }}"></label>
            <label for="full_name">Номера двигателей<br><input type="search" name="engine_number" value="{{ engine_number|default_if_none:'' }}"></label>
            <div>
                <br>
                <button class="searchButton" type="submit">Поиск</button>
            </div>
        </form>
    </div>

    <table class="table table-bordered table-hover link-table">
        <thead>
        <tr>
            <th class="first" scope="col">#</th>
            <th scope="col">Ф.И.О.</th>
            <th scope="col">Тип и модель</th>
            <th scope="col">IMO</th>
            <th scope="col">Номера двигателей</th>
        </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <th class="first" scope="row"><a href="{% url 'main:register_request' pk=request.pk %}">{{ forloop.counter }}</a></th>
                <td>
                    <a href="{% url 'main:register_request' pk=request.pk %}">{{ request.owner.first_name }} {{ request.owner.last_name }}</a>
                </td>
                <td><a href="{% url 'main:register_request' pk=request.pk %}">{{ request.model_type }}</a></td>
                <td><a href="{% url 'main:register_request' pk=request.pk %}">{{ request.imo }}</a></td>
                <td><a href="{% url 'main:register_request' pk=request.pk %}">{{ request.engine_number }}</a></td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}