{% extends 'main/inspector_base.html' %}
{% load staticfiles %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% include "main/search_bar.html" %}

    <table class="table table-bordered table-hover link-table">
        <thead>
        <tr>
            <th class="first" scope="col">#</th>
            <th scope="col">Ф.И.О.</th>
            <th scope="col">Тип и модель</th>
            <th scope="col">IMO</th>
            <th scope="col">Номера двигателей</th>
        </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <th class="first" scope="row"><a href="{% url 'main:final_boat_check' pk=request.pk %}">{{ forloop.counter }}</a></th>
                <td>
                    <a href="{% url 'main:final_boat_check' pk=request.pk %}">{{ request.owner.first_name }} {{ request.owner.last_name }}</a>
                </td>
                <td><a href="{% url 'main:final_boat_check' pk=request.pk %}">{{ request.model_type }}</a></td>
                <td><a href="{% url 'main:final_boat_check' pk=request.pk %}">{{ request.imo }}</a></td>
                <td><a href="{% url 'main:final_boat_check' pk=request.pk %}">{{ request.engine_number }}</a></td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}