{% extends 'main/header_user_template.html' %}

<div>

    {% block title %}

        <a href="{% url 'main:index' %}">Инспектор</a>

    {% endblock %}


    {% block main %}

        <div class="container">

            <div class="main">

                <aside class="user-navigation">

                    <ul class="user-navigation-list">
                        {% with url_name=request.resolver_match.url_name %}
                            <li class="{% if url_name == 'inspector' %}selected{% endif %}"><a href="{% url 'main:inspector' %}">Поступившие  {% if waiting_requests > 0 %}<span class="count">{{ waiting_requests }}</span>{% endif %}заявления</a>
                            </li>
                            <li class="{% if url_name == 'inspecting_requests' or url_name == 'register_request' %}selected{% endif %}"><a href="{% url 'main:inspecting_requests' %}">Рассматриваемые заявления</a></li>
                            <li class="{% if url_name == 'payed_requests' or url_name == 'final_boat_check' %}selected{% endif %}"><a href="{% url 'main:payed_requests' %}">Оплаченные заявления</a></li>
                            <li class="{% if url_name == 'remove_requests' %}selected{% endif %}"><a href="{% url 'main:remove_requests' %}">Заявления на снятие с учета</a></li>
                            <li class="{% if url_name == 'payment_requests' %}selected{% endif %}"><a href="{% url 'main:payment_requests' %}">Оплата</a> {% if payment_requests > 0 %}<span class="count">{{ payment_requests}}</span>{% endif %}</li>
                            <li class="{% if url_name == 'add_fine' %}selected{% endif %}"><a href="{% url 'main:add_fine' %}">Зарегистрировать нарушение</a></li>
                        {% endwith %}
                    </ul>

                </aside>

                <div class="content user-content">

                    {% block content %}
                    {% endblock %}

                </div>

            </div>

        </div>
    {% endblock %}

</div>


