{% extends "main/inspector_base.html" %}
{% load staticfiles %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" id="backendErrorMessage">
            {{ message }}
        </div>
    {% endfor %}

    <form action="{% url 'main:add_looking_request' %}" method="post">
        {% csrf_token %}

        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="first" scope="col" id="selectCell">Все<br><input type="checkbox" id="selectAll"></th>
                    <th scope="col">Ф.И.О.</th>
                    <th scope="col">Тип и модель</th>
                    <th scope="col">IMO</th>
                    <th scope="col">Номера двигателей</th>
                </tr>
                </thead>
                <tbody>
                {% for request in requests %}
                    <tr>
                        <th class="first" scope="row"><input type="checkbox" value="{{ request.id }}" class="requestCheckbox" name="request"></th>
                        <td>{{ request.owner.first_name }} {{ request.owner.last_name }}</td>
                        <td>{{ request.model_type }}</td>
                        <td>{{ request.imo }}</td>
                        <td>{{ request.engine_number }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="form-buttons">
            <button type="submit" class="btn table-submit">Добавить</button>
        </div>
    </form>

    <script src="{% static "main/js/inspectorSelectTable.js" %}"></script>

{% endblock %}
