{% extends 'main/base.html' %}

{% block body %}

{% for message in messages %}

<p>{{ message }}</p>

{% endfor %}

<div class="login">

    <div class="login-window">

        <h2 class="loginTitle">Информационная система <br> маломерных судов</h2>

        <form action="" method="POST" class="loginForm">
            {% csrf_token %}


            <div class="login-form-element">
                <p>Email</p>
                <div class="loginInput">
                    <input type="email" name="email">
                </div>
            </div>

            <div class="login-form-element">
                <p>Пароль</p>
                <div class="loginInput">
                    <input type="password" name="password">
                </div>
            </div>

            <button type="submit" class="loginButton">Вход в систему</button>

            <div class="loginFormLink">
                <a href="#forgotPassword">Забыли пароль?</a>
            </div>
        </form>

        <div class="loginFormLink">
            <p>Еще нет профиля? <a href="{% url 'main:signup' %}">Зарегестрируйтесь</a></p>
        </div>

    </div>

</div>



{% endblock %}