{% extends 'main/base.html' %}

{% block body %}

{% for message in messages %}

<p>{{ message }}</p>

{% endfor %}

<div class="login">

    <div class="login-window">

        <h2 class="loginTitle">Информационная система <br> маломерных судов</h2>

        <form action="" method="POST" class="loginForm">
            {% csrf_token %}


            <div class="login-form-element">
                <p>Login</p>
                <div class="loginInput">
                    <input type="email" name="email">
                </div>
            </div>

            <div class="login-form-element">
                <p>Password</p>
                <div class="loginInput">
                    <input type="password" name="password">
                </div>
            </div>

            <button type="submit" class="loginButton">Вход в систему</button>
        </form>

        <a href="{% url 'main:signup' %}">Sign up</a>

    </div>

</div>



{% endblock %}