{% extends 'main/base.html' %}
{% load static %}

{% block body %}

<div class="login">

    <div class="login-window">

        <div class="logo-image">
            <img src="{% static 'main/img/fvv_logo.png' %}" alt="Информационная система маломерных судов">
        </div>

        <h2 class="loginTitle">Информационная система <br> маломерных судов</h2>

        <form action="" method="POST" class="loginForm">

            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}

            {% csrf_token %}


            <div class="login-form-element">
                <p>Эл. почта</p>
                <div class="loginInput">
                    <div class="inputIcon">
                        <img src="{% static 'main/img/user (1).svg' %}" alt="">
                    </div>
                    <input type="email" name="email" value="{{ email|default_if_none:"" }}">
                </div>
            </div>

            <div class="login-form-element">
                <p>Пароль</p>
                <div class="loginInput">
                    <div class="inputIcon">
                        <img src="{% static 'main/img/padlock.svg' %}" alt="">
                    </div>
                    <input type="password" name="password">
                </div>
            </div>

            <button type="submit" class="loginButton">Вход в систему</button>

            <div class="loginFormLink">
                <a href="#forgotPassword">Забыли пароль?</a>
            </div>
        </form>

        <div class="loginFormLink">
            <p>Еще нет профиля? <a href="{% url 'main:signup' %}">Зарегестрируйтесь</a></p>
        </div>

    </div>

</div>



{% endblock %}