{% extends 'main/user_base.html' %}

{% block content %}

<form action="" method="POST">

    {% csrf_token %}

    <div class="row">
        <div class="col-lg-4 form-column">

        {% for field in form %}


        <div class="form-element">
            <p>{{ field.label }}</p>
            {{ field }}
        </div>

        {% if forloop.counter|divisibleby:6 %}

        </div>
        <div class="col-lg-4 form-column">
        {% endif %}

        {% endfor %}
        </div> <!-- Don't forget to remove this closing tag -->

    </div>

    <button type="submit">Submit</button>

</form>



{% endblock %}