{% extends 'main/inspector_base.html' %}
{% load staticfiles %}

{% block content %}


    <form action="" method="post" class="inspector-check-form">

        <p>Заявление №{{ form.instance.pk }}</p>

        <h1 class="form-title">{{ form.instance.owner.first_name }} {{ form.instance.owner.last_name }} -
            <small>{{ form.instance.name }}</small>
        </h1>

        {% csrf_token %}

        <div class="row">

            <div class="col-md-4">
            {% for field in form %}

                <div class="form-element">
                    <label><input type="checkbox" class="fieldCheckbox" name="incorrect_fields" value="{{ field.name }}"><span></span><strong>{{ field.label }}: </strong></label>
                    {% if field.name == "passport_image" %}
                        <a href="{{ form.instance.passport_image.url}}">{{ field.value }}</a>
                    {% elif field.name == "other_files" %}
                        {% if field.value == "" %}
                            -
                        {% else %}
                            <a href="{{ form.instance.other_files.url}}">{{ field.value }}</a>
                        {% endif %}
                    {% else %}
                        {{ field.value|default_if_none:"-" }}
                    {% endif %}
                </div>

                {% if forloop.counter|divisibleby:10 %}
            </div>
            <div class="col-md-4">
                {% endif %}

            {% endfor %}
            </div>

        </div>

        <div class="form-buttons">
            <button id="submitButton" class="btn" type="submit">Принять к оплате</button>
        </div>

    </form>

    <script src="{% static 'main/js/registrationRequest.js' %}"></script>

{% endblock %}