{% extends 'main/header_template.html' %}
{% load staticfiles %}

{% block header %}

<h1><a href="{% url 'main:signup' %}">Регистрация</a></h1>

{% endblock %}

{% block main %}

<div class="content">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert" id="backendErrorMessage">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="alert alert-danger" role="alert" id="clientErrorMessage">
        </div>

        <form action="" method="POST" name="signup">

            {% csrf_token %}

            <div class="row">

                <div class="col-lg-4 form-column">


                    <div class="form-element ">
                        <p><label for="id_first_name">Имя:</label></p>
                        <input type="text" name="first_name" maxlength="250" required id="id_first_name" value="{{ form.first_name.value|default_if_none:"" }}">
                    </div>

                    <div class="form-element">
                        <p><label for="id_last_name">Фамилия:</label></p>
                        <input type="text" name="last_name" maxlength="250" required id="id_last_name" value="{{ form.last_name.value|default_if_none:"" }}">
                    </div>

                    <div class="form-element">
                        <p><label for="id_name_of_organization">Название организации:</label></p>
                        <input type="text" name="name_of_organization" maxlength="250" required id="id_name_of_organization" value="{{ form.name_of_organization.value|default_if_none:"" }}">
                    </div>

                    <div class="form-element">
                        <p><label for="id_mail_index">Почтовый индекс:</label></p>
                        <input type="text" name="mail_index" maxlength="100" required id="id_mail_index" value="{{ form.mail_index.value|default_if_none:"" }}">
                    </div>

                    <div class="form-element">
                        <p><label for="id_address">Адрес:</label></p>
                        <input type="text" name="address" maxlength="300" required id="id_address" value="{{ form.address.value|default_if_none:"" }}">
                    </div>

                    <div class="form-element">
                        <p><label for="id_gender">Пол:</label></p>
                        <div class="dropdown">
                            <select name="gender" required id="id_gender">
                                <option value="Мужской" {% if form.gender.value|default_if_none:"Мужской" == "Мужской" %}selected{% endif %}>Мужской</option>

                                <option value="Женский" {% if form.gender.value|default_if_none:"Мужской" == "Женский" %}selected{% endif %}>Женский</option>

                            </select>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 form-column">


                    <div class="form-element">
                        <p><label for="id_date_of_passport">Дата выдачи и серия паспотра:</label></p>
                        <input type="text" name="date_of_passport" maxlength="200" required id="id_date_of_passport" value="{{ form.date_of_passport.value|default_if_none:"" }}">
                    </div>

                    <div class="form-element">
                        <p><label for="id_inn">Inn:</label></p>
                        <input type="text" name="inn" maxlength="250" required id="id_inn" value="{{ form.inn.value|default_if_none:"" }}">
                    </div>

                    <div class="form-element">
                        <p><label for="id_country">Страна:</label></p>
                        <input type="text" name="country" maxlength="250" required id="id_country" value="{{ form.country.value|default_if_none:"" }}">
                    </div>

                    <div class="form-element">
                        <p><label for="id_city">Город:</label></p>
                        <input type="text" name="city" maxlength="250" required id="id_city" value="{{ form.city.value|default_if_none:"" }}">
                    </div>

                    <div class="form-element">
                        <p><label for="id_phone_number">Номер телефона:</label></p>
                        <input type="text" name="phone_number" maxlength="100" required id="id_phone_number" value="{{ form.phone_number.value|default_if_none:"" }}">
                    </div>

                </div>

                <div class="col-lg-4 form-column">

                    <div class="form-element">
                        <p><label for="id_email">Email:</label></p>
                        <input type="email" name="email" maxlength="300" required id="id_email" value="{{ form.email.value|default_if_none:"" }}">
                    </div>


                    <div class="form-element">
                        <p><label for="id_password">Пароль:</label></p>
                        <input type="password" name="password" required id="id_password" value="{{ form.password.value|default_if_none:"" }}">
                    </div>

                    <div class="form-element">
                        <p><label for="passwordCheck">Повторите пароль:</label></p>
                        <input type="password" id="passwordCheck" value="{{ form.password.value|default_if_none:"" }}">
                    </div>

                </div>


                <div class="form-buttons signup-buttons">
                    <button class="btn" type="submit" id="submitButton">Сохранить</button>
                    <a href="{% url 'main:index' %}" class="btn">Отменить</a>
                </div>

            </div>

        </form>

    </div>

</div>

<script src="{% static 'main/js/signup.js' %}"></script>

{% endblock %}


