{% extends 'main/user_base.html' %}
{% load staticfiles %}

{% block content %}

    {% for boat in boats %}
        <div class="control-block">
            <div class="control-title">
                <p>{{ boat.name }}</p>
            </div>

            <a href="#{{ boat.pk }}" class="btn">Технический осмотр</a>
            <button class="btn btn-warn openButton">Снять с учета</button>
        </div>
    {% endfor %}

    <div class="popup-window">
        <div class="popup-window-background"></div>
        <div class="popup">
            <div class="close">
                <button class="closeButton">
                    <img src="{% static 'main/img/cancel.svg' %}" alt="">
                </button>
            </div>
        </div>
    </div>

    <script src="{% static 'main/js/popup.js' %}"></script>


{% endblock %}