{% extends 'main/user_base.html' %}
{% load staticfiles %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for notification in notifications %}

        <div class="control-block{% if notification.watched == False %} unwatched {% endif %}">
            <div class="notification-icon">
                {% if notification.status == "looking" %}
                    <img src="{% static 'main/img/ship.svg' %}" alt="">
                {% endif %}

                {% if notification.status == "rejected" %}
                    <img src="{% static 'main/img/exam.svg' %}" alt="">
                {% endif %}

                {% if notification.status == "payment" %}
                    <img src="{% static 'main/img/job.svg' %}" alt="">
                {% endif %}

                {% if notification.status == "payment_rejected" %}
                    <img src="{% static 'main/img/exam.svg' %}" alt="">
                {% endif %}

                {% if notification.status == "inspector_check" %}
                    <img src="{% static 'main/img/wallet.svg' %}" alt="">
                {% endif %}

                {% if notification.status == "accepted" %}
                    <img src="{% static 'main/img/ship.svg' %}" alt="">
                {% endif %}
            </div>

            <div class="control-title">
                {#            <p>{{ notification.status }}</p>#}
                {% if notification.status == "looking" %}
                    Ваше заявление находится на стадии рассмотрения
                {% endif %}

                {% if notification.status == "rejected" %}
                    Неправильно заполненные поля:

                    <div class="incorrect-fields-list">
                        {% for field in notification.boat.get_incorrect_field_labels %}
                            <p>- {{ field }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if notification.status == "payment" %}
                    Ваше заявление принято! Пожалуйста оплатите пошлину.
                {% endif %}

                {% if notification.status == "payment_rejected" %}
                    Оплата была отклонена. Попробуйте еще раз и используйте скан на котором чек виден отчетливо.
                {% endif %}

                {% if notification.status == "inspector_check" %}
                    Оплата прошла успешно! Придите по адресу и дате: {{ notification.extra_data }} для проведения осмотра.
                {% endif %}

                {% if notification.status == "accepted" %}
                    Судно {{ notification.boat }} успешно зарегестировано в системе!
                {% endif %}
            </div>


            <div class="control-button">
                {% if notification.status == "rejected" %}
                    <a href="{% url 'main:edit_request' pk=notification.boat.pk %}"
                       class="btn {% if notification.watched == False %}btn-warn{% endif %}">
                        Изменить
                    </a>
                {% endif %}

                {% if notification.status == "payment" %}
                    <button
                            class="btn btn-warn payButton" data-id="{{ notification.boat.pk }}">
                        Оплатить
                    </button>
                {% endif %}

            </div>

        </div>

    {% endfor %}

    <div class="popup-window payPopup">
        <div class="popup-window-background"></div>
        <div class="popup">
            <div class="closeButtonContainer">
                <button class="closeButton">
                    <img src="{% static 'main/img/cancel.svg' %}" alt="">
                </button>
            </div>
            <h1 class="popupTitle">Выберите тип оплаты</h1>

            <div class="popupBlocks">
                <a href="#" class="popupBlock" id="online">Онлайн</a>
                <a href="javascript:" class="popupBlock" id="bank">Через банк или инфокиоск</a>
            </div>
        </div>
    </div>

    <div class="popup-window bankPopup">
        <div class="popup-window-background"></div>
        <div class="popup">
            <div class="closeButtonContainer">
                <button class="closeButton">
                    <img src="{% static 'main/img/cancel.svg' %}" alt="">
                </button>
            </div>
            <h1 class="popupTitle">Оплата через банк или инфокиоск</h1>

            <form action="" name="payForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="popupBlocks">

                    <div class="popupBlock fileBox">
                        +
                        <span class="file-input-hint">Скан чека</span>
                        <input type="file" class="ticketFileInput" name="checkScan">
                    </div>
                </div>

                <button type="submit" class="btn btn-warn">Отправить</button>

            </form>

        </div>
    </div>

    <script src="{% static 'main/js/userRequests.js' %}"></script>

{% endblock %}