{% extends 'main/user_base.html' %}
{% load staticfiles %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for boat in boats %}
        <div class="control-block">
            <div class="control-title">
                <p>{{ boat.name }}</p>
            </div>

            <button class="btn techCheckOpenButton" data-id="{{ boat.pk }}">Технический осмотр</button>
            <button class="btn btn-warn removeOpenButton" data-id="{{ boat.pk }}">Снять с учета</button>
        </div>
    {% endfor %}

    <div class="popup-window remove-window">
        <div class="popup-window-background"></div>
        <div class="popup">
            <div class="closeButtonContainer">
                <button class="closeButton">
                    <img src="{% static 'main/img/cancel.svg' %}" alt="">
                </button>
            </div>

            <h1 class="popupTitle">Снятие судна с учета</h1>

            <form action="" method="post" id="removeForm" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="popupBlocks">
                    <div class="popupBlock reasonBlock">
                        <label>
                            <input type="radio" name="reason" checked value="change">
                            <span><span class="checkboxIcon"></span> Изменение владельца или места жительства</span>
                        </label>

                        <label>
                            <input type="radio" name="reason" value="ticket">
                            <span><span class="checkboxIcon"></span>Утеря или порча судового билета</span>
                        </label>

                        <label>
                            <input type="radio" name="reason" value="broke">
                            <span><span class="checkboxIcon"></span>Износ судна и другие причины</span>
                        </label>
                    </div>

                    <div class="popupBlock fileBox">
                        +
                        <span class="file-input-hint">Скан судового билета</span>
                        <input type="file" class="ticketFileInput" name="ticket">
                    </div>
                </div>

                <button type="submit" class="btn btn-warn">Отправить</button>
            </form>
        </div>
    </div>

    <div class="popup-window techCheck-window">
        <div class="popup-window-background"></div>
        <div class="popup">
            <div class="closeButtonContainer">
                <button class="closeButton">
                    <img src="{% static 'main/img/cancel.svg' %}" alt="">
                </button>
            </div>

            <h1 class="popupTitle">Выберите тип техосмотра</h1>

            <div class="popupBlocks">
                <a href="#" class="popupBlock techCheckLink" id="techCheck">Первичный техосмотр</a>
                <a href="#" class="popupBlock techCheckLink" id="yearTechCheck">Ежегодный техосмотр</a>
            </div>
        </div>
    </div>

    <div class="popup-window bankPopup">
        <div class="popup-window-background"></div>
        <div class="popup">
            <div class="closeButtonContainer">
                <button class="closeButton">
                    <img src="{% static 'main/img/cancel.svg' %}" alt="">
                </button>
            </div>
            <h1 class="popupTitle">Оплата через банк или инфокиоск</h1>

            <form action="" name="payForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="popupBlocks">

                    <div class="popupBlock fileBox">
                        +
                        <span class="file-input-hint">Скан чека</span>
                        <input type="file" class="ticketFileInput" name="checkScan">
                    </div>
                </div>

                <button type="submit" class="btn btn-warn">Отправить</button>

            </form>

        </div>
    </div>


    <script src="{% static 'main/js/popup.js' %}"></script>


{% endblock %}