{% extends 'main/user_base.html' %}
{% load staticfiles %}

{% block content %}

{% for notification in notifications %}

{#    <p><a href="request/{{ notification.id }}">{{ notification.status }}</a></p>#}


    <div class="control-block{% if notification.watched == False %} unwatched {% endif %}">
        <div class="notification-icon">
            {% if notification.status == "looking" %}
                <img src="{% static 'main/img/ship.svg' %}" alt="">
            {% endif %}

            {% if notification.status == "rejected" %}
                <img src="{% static 'main/img/exam.svg' %}" alt="">
            {% endif %}
        </div>

        <div class="control-title">
{#            <p>{{ notification.status }}</p>#}
            {% if notification.status == "looking" %}
                Ваше заявление находится на стадии рассмотрения
            {% endif %}

            {% if notification.status == "rejected" %}
                Неправильно заполненные поля:

                {% for field in notification.boat.get_incorrect_field_labels %}
                    <p>- {{ field }}</p>
                {% endfor %}
            {% endif %}
        </div>

{#        <a href="#{{ notification.pk }}" class="btn">Технический осмотр</a>#}
{#        <a href="#{{ notification.pk }}" class="btn btn-warn">Снять с учета</a>#}
    </div>

{% endfor %}

{% endblock %}