{% extends 'main/user_base.html' %}
{% load staticfiles %}

{% block content %}

    {% for fine in fines %}
        <div class="control-block">
            <div class="control-title">
                <p>Протокол нарушения №{{ fine.id }}</p>
            </div>

            <button data-id="{{ fine.pk }}" data-owner="{{ fine.owner }}" data-amount="{{ fine.amount }}" data-reason="{{ fine.reason }}" class="btn showFineButton">Просмотреть</button>
        </div>
    {% endfor %}

    <div class="popup-window" id="finePopup">
        <div class="popup-window-background"></div>
        <div class="popup">
            <div class="closeButtonContainer">
                <button class="closeButton">
                    <img src="{% static 'main/img/cancel.svg' %}" alt="">
                </button>
            </div>

            <h1 class="popupTitle">Протокол нарушения: <span class="owner"></span></h1>
            <div class="popup-content-not-center">
                <p>Причина: <span class="reason"></span></p>
                <p>Сумма: <span class="amount"></span></p>
            </div>

        </div>
    </div>

    <script src="{% static 'main/js/userFines.js' %}"></script>

{% endblock %}
