* {
    margin: 0;
    padding: 0;
}

h1, p, a {
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    font-size: 16px;
}

html {
    font-family: sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

header.user {
    background-color: #287ac3;
    background: -moz-linear-gradient(top, #46a5e5,  #287ac3); 
    background: -webkit-gradient(linear, left top, left bottom, from(#46A5E5), to(#287ac3));
    color: #ffffff;
    padding: 10px 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
}

header.user h1 {
    font-size: 20px;
    font-weight: 100;
}

header.user a, header.user a:hover {
    color: #ffffff;
    text-decoration: none;
}

header.user .navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header.user a.logout {
    margin-left: auto;
    /* line-height: 20px; */
}

aside.user-navigation {
    width: 200px;
    height: 100vh;
    border-right: 1px solid lightgray;
    position: fixed;

}

ul.user-navigation-list {
    padding-right: 30px;
    padding-top: 70px;
}

.content {
    padding-top: 70px;
    padding-left: 50px;
    margin-left: 200px;
    flex: 1;
}

ul.user-navigation-list li {
    list-style: none;
    padding-bottom: 20px;
    line-height: 20px;
}

ul.user-navigation-list li a, ul.user-navigation-list li:hover {
    color: gray;
    text-decoration: none;
}

ul.user-navigation-list li.selected a {
    color: #287ac3;
}

.main {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.form-element {
    margin-bottom: 20px;
}

.form-element p {
    margin-bottom: 10px;
}

.form-element input, .form-element .fileBox {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 7px;
}

.form-column {
    padding-right: 80px;
}

.btn, .btn:hover {
    background-color: #138cff;
    color: #ffffff;
    padding: 5px 40px;
    border-radius: 20px;
}

.btn-warn, .btn-warn:hover {
    background-color: #ff7d1b
}

.row {
    margin: 0;
    padding: 0;
}

.col-md-4, .col-lg-4 {
    margin: 0;
    padding-left: 0;

}

.page {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 700px;
}

.form-buttons {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.form-buttons button#prevFormPage {
    margin-right: auto;
}

.page.selectedPage {
    display: flex;
}

form button.btn {
    display: inline-block;
    margin-top: 40px;
    margin-right: 20px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

.fileBox {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightgray;
  color: lightgray;
  font-weight: 100;
  margin: 10px;
  cursor: pointer;
  margin: 0;
  width: 100%;
  text-align: center;
  height: 305px;
}

.fileBox p {
    font-size: 80px;
    font-weight: 100;
}

input.formFileInput {
    display: none;
}

.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.login-window {
    background-color: #ffffff;
    width: 500px;
    margin: 0 auto;
    padding: 80px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.loginButton {
    display: block;
    background-color: #287ac3;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    width: 100%;
    padding: 12px;
    margin-top: 40px;
    margin-bottom: 25px;
    background: -moz-linear-gradient(top, #46a5e5,  #287ac3); 
    background: -webkit-gradient(linear, left top, left bottom, from(#46A5E5), to(#287ac3));
}

.login-form-element {
    margin-bottom: 20px;
}

.login-window .loginTitle {
    color: #287ac3;
    text-align: center;
    /* font-weight: 100; */
    font-size: 26px;
    line-height: 40px;
}

.login-window .loginFormLink {
    text-align: center;
    display: block;
}

.loginFormLink p, .loginFormLink a {
    font-size: 14px;
}

.loginForm {
    margin: 72px 0;
}

.loginInput {
    border: 1px solid lightgray;
    padding: 6px 12px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
}

.loginInput input {
    outline: none;
    display: block;
    width: 100%;
    border: none;
    margin-left: 10px;
}

input:focus {
    outline: none;
}

.control-block {
    background-color: #f6f6f6;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.control-block .control-title {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-block .btn {
    margin-left: 40px;
}


/* ************************************* */
/* just for a moment */
h1 {
    font-weight: 100;
}

/* ************************************ */
