* {
    margin: 0;
    padding: 0;
}

h1, p, a {
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    font-size: 16px;
}

html {
    font-family: sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

header.main {
    background-color: #287ac3;
    background: -moz-linear-gradient(top, #46a5e5,  #287ac3); 
    background: -webkit-gradient(linear, left top, left bottom, from(#46A5E5), to(#287ac3));
    color: #ffffff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header.main h1 {
    font-size: 20px;
    font-weight: 100;
}

header.main a, header.main a:hover {
    color: #ffffff;
    text-decoration: none;
}

header.main .navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header.main a.logout {
    margin-left: auto;
    /* line-height: 20px; */
}

aside.user-navigation {
    width: 200px;
    height: 100vh;
    border-right: 1px solid lightgray;
    position: fixed;
    background-color: white;
}

ul.user-navigation-list {
    padding-right: 30px;
    padding-top: 70px;
}

.content {
    padding-top: 70px;
}

.user-content {
    padding-left: 50px;
    margin-left: 200px;
    flex: 1;
}

ul.user-navigation-list li {
    list-style: none;
    padding-bottom: 20px;
    line-height: 20px;
}

ul.user-navigation-list li a, ul.user-navigation-list li:hover {
    color: gray;
    text-decoration: none;
}

ul.user-navigation-list li.selected a {
    color: #287ac3;
}

.main {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.form-element {
    margin-bottom: 20px;
}

.form-element p {
    margin-bottom: 10px;
}

.form-element input, .form-element .fileBox, .form-element select {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 7px;
}

.form-element select {
    padding-left: 0;
    padding-right: 0;
    outline: none;
    border: none;
}

.form-element .dropdown {
    border: 1px solid lightgray;
    padding: 0 10px;
    border-radius: 7px;
}

.form-column {
    padding-right: 80px;
}

.btn, .btn:hover {
    background-color: #138cff;
    color: #ffffff;
    padding: 5px 40px;
    border-radius: 20px;
}

.btn-warn, .btn-warn:hover {
    background-color: #ff7d1b
}

.row {
    margin: 0;
    padding: 0;
}

.col-md-4, .col-lg-4 {
    margin: 0;
    padding-left: 0;

}

.page {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 700px;
}

.form-buttons {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.form-buttons button#prevFormPage {
    margin-right: auto;
}

.page.selectedPage {
    display: flex;
}

form button.btn, form a.btn {
    display: inline-block;
    margin-top: 40px;
    margin-right: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  font-family: "Open Sans", sans-serif;
}

.fileBox {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightgray;
  color: lightgray;
  font-weight: 100;
  cursor: pointer;
  width: 100%;
  text-align: center;
  height: 305px;
}

.fileBox.filled {
    border: 1px solid lightgreen;
    background-color: rgba(0, 250, 0, 0.3);
    color: rgba(0, 136, 0, 0.9);
}

.fileBox.incorrect {
    border: 1px solid red;
}

.fileBox p {
    font-size: 80px;
    font-weight: 100;
}

input.formFileInput {
    display: none;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/loginBG.jpg");
    background-size: cover;
    min-height: 100vh;
}

.login-window {
    background-color: #ffffff;
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.loginButton {
    display: block;
    background-color: #287ac3;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    width: 100%;
    padding: 12px;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 14px;
    background: -moz-linear-gradient(top, #46a5e5,  #287ac3); 
    background: -webkit-gradient(linear, left top, left bottom, from(#46A5E5), to(#287ac3));
}

.login-form-element {
    margin-bottom: 20px;
}

.login-window .loginTitle {
    color: #287ac3;
    text-align: center;
    /* font-weight: 100; */
    font-size: 22px;
    line-height: 30px;
}

.login-window .loginFormLink {
    text-align: center;
    display: block;
}

.loginFormLink p, .loginFormLink a {
    font-size: 14px;
}

.loginForm {
    margin-top: 30px;
    margin-bottom: 50px;
}

.loginInput {
    border: 1px solid lightgray;
    padding: 4px 10px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
}

.loginInput .inputIcon img {
    width: 13px;
}

.login .login-form-element p {
    font-size: 14px;
}

.loginInput input {
    outline: none;
    display: block;
    width: 100%;
    border: none;
    font-size: 13px;
    margin-left: 10px;
}

input:focus {
    outline: none;
}

.control-block {
    background-color: #f6f6f6;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
    border-radius: 5px;
}

.control-block .control-title {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-block .control-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-block .btn {
    margin-left: 40px;
}

.steps {
    margin-bottom: 30px;
}

.steps p {
    font-size: 20px;
    color: lightgray;
}

.currentStep {
    color: #287ac3;
}

.signup-buttons {
    justify-content: center;
}

.signup-buttons a.btn  {
    margin-left: 80px;
    background-color: white;
    color: #287ac3; 
    border: 1px solid #287ac3;
}

input.incorrect {
    border: 1px solid red;
}

#clientErrorMessage {
    display: none;
}

.arrow {
    margin: 0 5px;
    width: 15px;
}

.count {
    color: #fff;
    background-color: #FF7D1B;
    font-size: 10px;
    width: 16px;
    height: 16px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    border-radius: 50%;
    bottom: 8px;
}

/* TODO: check this shit in PS */
.control-block img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.control-block.unwatched {
    border: 1px solid #ff7d1b;
    color: #287AC3;
}

.popup-window {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.popup-window-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.popup-window .popup {
    width: 650px;
    /*height: 300px;*/
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    position: fixed;
    z-index: 5;
    padding: 10px 20px 20px 20px;
    text-align: center;
}

.closeButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button.closeButton {
    background-color: transparent;
    border: none;
    outline: none;
    user-select: none;
}

.closeButton img {
    width: 25px;
}

h1.popupTitle {
    font-size: 20px;
    margin-bottom: 30px;
}

.popupBlocks {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    min-height: 100px;
}

.reasonBlock {
    text-align: left;
}

.reasonBlock label {
    margin-bottom: 15px;
    margin-left: 18px;
}

.popupBlock {
    padding: 25px;
    background-color: #f3f3f3;
    font-size: 15px;
    flex: 1;
    margin: 5px;
    /*padding: 20px 0;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + span:before {
    font-family: "FontAwesome", serif;
    display: inline-block;
    content: "\f096";
    color: #138cff;
    margin-right: 8px;
    width: 10px;
}
input[type="radio"]:checked + span:before {
    content: "\f046";
}

.popup .fileBox {
    border: none;
    height: auto;
    font-size: 50px;
    color: #138cff;
}

.popup .fileBox .file-input-hint {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
}

a.popupBlock:hover {
    text-decoration: none;
    color: #138cff;
}

.popup .btn {
    margin-top: 30px;
}

.popup .fileBox.incorrect {
    border: 1px solid red;
}

h1.formTitle {
    font-size: 25px;
    color: #ff7d1b;
    margin-right: 20px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.popup input[type="file"] {
    display: none;
}

.exit-icon {
    display: inline-block;
    width: 20px;
    margin-right: 3px;
}

@media (max-width: 768px) {
    aside.user-navigation {
        display: none;
    }

    .content.user-content {
        margin-left: 0;
        padding-left: 0;
    }
}

h1.form-title {
    margin-bottom: 30px;
}

.inspector-check-form input[type="checkbox"] {
    display: none;
    width: auto;
    margin-right: 10px;
}

.inspector-check-form input[type="checkbox"] + span:before {
    display: inline-block;
    font-family: "FontAwesome", serif;
    content: "\f1db";
    margin-right: 10px;
    color: #138cff;
}

.inspector-check-form input[type="checkbox"]:checked + span:before {
    content: "\f192";
}

.notification-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.incorrect-fields-list {
    margin-top: 7px;
}

table.table {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.04);
}

table.table thead {
    background-color: #287ac3;
    color: #ffffff;
}

table.table th {
    font-weight: 100;
}

table.table thead th {
    padding: 12px;
}

table.link-table tbody th {
    padding: 0;
}

table.table tr td a, table.table tr td a:hover, table.table tr th a, table.table tr th a:hover {
    display:block;
    height:100%;
    width:100%;
    color: #000000;
    text-decoration: none;
    padding: 12px;
}

table.link-table tr td {
    padding: 0;
}

#selectCell {
    padding: 0 12px;
    text-align: center;
}

th.first {
    text-align: center;
}

.table-container {
    min-height: 700px;
}

/*button.table-submit {*/
    /*position: fixed;*/
    /*bottom: 100px;*/
    /*right: 200px;*/
/*}*/

.logo-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.activation-code {
    margin: 40px 0;
}

form button.btn.activation-code-button {
    margin-top: 0;
}

.activation-code-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.paymentLink {
    cursor: pointer;
}

.popupWithCheck .buttonsContainer a.btn-warn {
    margin-right: 30px;
}

.checkScan {
    width: 100%;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.no-select tbody tr {
    cursor: pointer;
}

.searchBar {
    margin-bottom: 50px;
}

.searchBar form {
    display: flex;
    flex-direction: row;
}

.searchBar label {
    display: block;
    margin-right: 30px;
    flex: 1;
}

.searchBar label input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid lightgray;
}

button.searchButton {
    background-color: #138cff;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
}

.final-form-element {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

label.final-form-label {
    width: 300px;
    font-weight: bold;
}

.final-form-element input, select {
    width: 400px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

h1.final-form-title {
    margin-bottom: 50px;
}

.popup-content-not-center {
    text-align: left;
    padding: 0 50px;
}

.centerButtonContainer {
    text-align: center;
}

/* ************************************* */
/* just for a moment */
h1 {
    font-weight: 100;
}

/* ************************************ */
